<div id="calendar-mode" class="no-display">

    <div class="week-row">
      <div class="dow-square">
        <h4 class="cal-date">1</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">2</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">3</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">4</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">5</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">6</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square" id="saturday">
        <h4 class="cal-date">7</h4>
        <h2 class="cal-price">$300</h2>
      </div>
    </div>

    <div class="week-row">
      <div class="dow-square">
        <h4 class="cal-date">8</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">9</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">10</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">11</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">12</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">13</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square" id="saturday">
        <h4 class="cal-date">14</h4>
        <h2 class="cal-price">$300</h2>
      </div>
    </div>

    <div class="week-row">
      <div class="dow-square">
        <h4 class="cal-date">15</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">16</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">17</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">18</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">19</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">20</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square" id="saturday">
        <h4 class="cal-date">21</h4>
        <h2 class="cal-price">$300</h2>
      </div>
    </div>

    <div class="week-row">
      <div class="dow-square">
        <h4 class="cal-date">22</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">23</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">24</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">25</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">26</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">27</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square" id="saturday">
        <h4 class="cal-date">28</h4>
        <h2 class="cal-price">$300</h2>
      </div>
    </div>

    <div class="week-row" id="last-row">
      <div class="dow-square">
        <h4 class="cal-date">29</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">30</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date">31</h4>
        <h2 class="cal-price">$300</h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date"></h4>
        <h2 class="cal-price"></h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date"></h4>
        <h2 class="cal-price"></h2>
      </div>

      <div class="dow-square">
        <h4 class="cal-date"></h4>
        <h2 class="cal-price"></h2>
      </div>

      <div class="dow-square" id="saturday">
        <h4 class="cal-date"></h4>
        <h2 class="cal-price"></h2>
      </div>
    </div>
  </div>
