<div id="list-mode" class="med-disappear">
    <div class="list-date">
      <div class='text-center'>
        <h4 class="month">Jan</h4>
        <h3 class="date">1</h3>
      </div>
      <h2 class="price">$300</h2>
    </div>

    <div class="list-date">
      <div class='text-center'>
        <h4 class="month">Jan</h4>
        <h3 class="date">2</h3>
      </div>
      <h2 class="price">$300</h2>
    </div>

    <div class="list-date">
      <div class='text-center'>
        <h4 class="month">Jan</h4>
        <h3 class="date">3</h3>
      </div>
      <h2 class="price">$300</h2>
    </div>

    <div class="list-date">
      <div class='text-center'>
        <h4 class="month">Jan</h4>
        <h3 class="date">4</h3>
      </div>
      <h2 class="price">$300</h2>
    </div>

    <button id="travel-more">MORE</button>
  </div>
