<div class="container-fluid" id="page">
  <div id="wrapper">
    <h3 id="sign-in-title" class="text-center">Sign Up</h3>

    <form [formGroup]="signUpForm" #f="ngForm" novalidate (ngSubmit)="submit()">
      <div class="form-group" id="email-group">
        <label for="email" class="form-label">EMAIL</label>
        <input class="form-control" id="email" type="email" formControlName="email" required>
        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>

      <div class="flex-row">
        <div class="form-group">
          <label for="first-name" class="form-label">FIRST NAME</label>
          <input class="form-control" id="first-name" type="text" formControlName="firstName" required>

          <div *ngIf="formErrors.firstName" class="alert alert-danger">
            {{ formErrors.firstName }}
          </div>
        </div>

        <div class="form-group">
          <label for="last-name" class="form-label">LAST NAME</label>
          <input class="form-control" id="last-name" type="text" formControlName="lastName" required>

          <div *ngIf="formErrors.lastName" class="alert alert-danger">
            {{ formErrors.lastName }}
          </div>
        </div>
      </div>

      <div class="flex-row">
        <div class="form-group">
          <label for="password" class="form-label">PASSWORD <span id="password-span"> hint: min of 8 characters</span></label>
          <input class="form-control" id="password" type="password" formControlName="password" required>

          <div *ngIf="formErrors.password" class="alert alert-danger">
            {{ formErrors.password }}
          </div>
        </div>

        <div class="form-group">
          <label for="confirm" class="form-label">CONFIRM PASSWORD</label>
          <input class="form-control" id="confirm" type="password" formControlName="confirmPassword" validateEqual="password" required>

          <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
            {{ formErrors.confirmPassword }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <button id="sign-up-btn" type="submit">SIGN UP</button>

  <a routerLink="/login" routerLinkActive="active" id="log-in" class="text-center"><p>Have an account? Log in</p></a>
</div>
